@model ForbExpress.Models.ViewModels.ContractsViewModels.ContractsViewModel

@{
    Layout = "_Layout";
    ViewData["PageTitle"] = "Договоры";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
    <link href="~/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/plugins/font-icons/fontawesome/css/fontawesome.css">
    <link href="~/plugins/tagInput/tags-input.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/elements/custom-pagination.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/plugins/bootstrap-select/bootstrap-select.min.css">
    <link href="~/assets/css/elements/avatar.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components/tabs-accordian/custom-accordions.css" rel="stylesheet" type="text/css">
    <link href="~/plugins/tagInput/tags-input.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/users/user-profile.css" rel="stylesheet" type="text/css">
    <link href="~/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/elements/tooltip.css" rel="stylesheet" type="text/css">
    <style>
        .glow span
        {
            transition: all .5s;
        }
        
        .glow span:hover
        {
            text-shadow: 0 0 15px #06f9fb;
            /*0 0 80px #06f9fb,*/
            /*0 0 180px #06f9fb;*/
            color: #009688;
        }
        
        #html5-extension_info
        {
            white-space: normal;
            color: #009688;
            font-weight: 600;
            border: 1px solid #191e3a;
            display: inline-block;
            padding: 10px 16px;
            border-radius: 6px;
            font-size: 13px;
        }                  
    </style>
}


@section Scripts
{
    <script src="~/plugins/table/datatable/datatables.js"></script>
    <script src="~/plugins/font-icons/feather/feather.min.js"></script>
    <script src="~/plugins/tagInput/tags-input.js"></script>
    <script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/assets/js/components/ui-accordions.js"></script>
    <script src="~/plugins/tagInput/tags-input.js"></script>
    <script src="~/plugins/apex/apexcharts.min.js"></script>
    <script src="~/plugins/apex/custom-apexcharts.js"></script>
    <script src="~/assets/js/elements/tooltip.js"></script>


    <script type="text/javascript">
        feather.replace();
    </script>

    <script type="text/javascript">
     
            $(function () {
                $.ajaxSetup({ cache: false });
               $(".mailContract").click(function (e) {
     
                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
                });
            })
            
            let addFilter = () => {
                $( "filter1" ).append( "<strong>Hello</strong>" );
            }
    </script>
}

<div class="row">
    <div class="col-md-12 col-sm-12 mb-4">
        <div id="iconsAccordion" class="accordion-icons">
            <div class="card">
                <div class="card-header" id="...">
                    <section class="mb-0 mt-0">
                        <div role="menu" class="collapsed" data-toggle="collapse" data-target="#iconAccordionOne" aria-expanded="true" aria-controls="iconAccordionOne">
                            <div class="accordion-icon"><i data-feather="filter"></i></div>Filters<div class="icons"></div>
                        </div>
                    </section>
                </div>
                <div id="iconAccordionOne" class="collapse" aria-labelledby="..." data-parent="#iconsAccordion">
                    <div class="card-body">
                        <form method="get">
                            <div class="form-row mb-3" id="filter1">
                                <div class="col-md-5 col-sm-5">
                                    <select class="form-control  basic">
                                        <option selected="selected">Номер договора</option>
                                        <option>Дата заключения</option>
                                        <option>Дата начала аренды</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <select class="selectpicker">
                                        <option>Contains</option>
                                        <option>Equal to</option>
                                        <option>Starts with</option>
                                        <option>Ends with</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <input id="t-text" type="text" name="txt" placeholder="Some Text..." class="form-control" required="">
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <button type="button" class="btn btn-danger  mb-2 mr-2 rounded-circle"><i data-feather="x" onclick="addFilter()"></i></button>
                                </div>
                            </div>
                            <div class="form-row mb-3" id="filter2">
                                                            <div class="col-md-5 col-sm-5">
                                                                <select class="form-control  basic">
                                                                    <option selected="selected">Номер договора</option>
                                                                    <option>Дата заключения</option>
                                                                    <option>Дата начала аренды</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-2 col-sm-2">
                                                                <select class="selectpicker">
                                                                    <option>Contains</option>
                                                                    <option>Equal to</option>
                                                                    <option>Starts with</option>
                                                                    <option>Ends with</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4">
                                                                <input id="t-text" type="text" name="txt" placeholder="Some Text..." class="form-control" required="">
                                                            </div>
                                                            <div class="col-md-1 col-sm-1">
                                                                <button type="button" class="btn btn-danger  mb-2 mr-2 rounded-circle"><i data-feather="x" onclick="addFilter()"></i></button>
                                                            </div>
                                                        </div>
                            <div class="form-row mb-3">
                                <button type="button" class="btn btn-primary  mb-2 mr-2 rounded-circle"><i data-feather="plus" onclick="addFilter()"></i></button>
                            </div>
                            <button type="reset" class="btn btn-danger mt-3">Сбросить фильтры</button>
                            <button type="submit" class="btn btn-primary mt-3">Применить фильтры</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="statbox widget box box-shadow">
    <div class="widget-content widget-content-area">
        <div class="row">
            <div class="col-md-2 col-sm-12 mb-4">
                <label>Сортировать по:</label>
                <select class="selectpicker">
                    <option><a asp-action="Index" asp-route-sortOrder="ConclusionDateDesc">Номеру договора</a></option>
                    <option>Дате заключения</option>
                    <option>Названию партнера</option>
                    <option>Названию арендатора</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <label>Выводить на странице по:</label>
                <select class="selectpicker" data-show-subtext="true">
                    <option data-subtext="записей на странице" class="text-align">10</option>
                    <option data-subtext="записей на странице">15</option>
                    <option data-subtext="записей на странице">30</option>
                    <option data-subtext="записей на странице">50</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-12 mb-4"></div>
            <div class="col-md-2 col-sm-12 mb-4">
                <label>Создание нового договора</label>
                <a asp-action="Create" class="btn btn-primary mb-2 mr-2 btn-lg"><div class="row">Добавить договор <i data-feather="book"></i></div></a>
            </div>
            
        </div>
        <div class="row">
            <div id="modDialog" class="modal fade">
                <div id="dialogContent" class="modal-dialog  modal-dialog-centered"></div>
            </div>
                
            <div class="table-responsive">
                <table class="table table-bordered table-hover mb-4">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <th class="text-center">Дата заключения</th>
                        <th class="text-center">Дата начала</th>
                        <th class="text-center">Дата окончания</th>
                        <th class="text-center">Срок</th>
                        <th class="text-center">Оплачено</th>
                            
                        <th>Арендатор</th>

                        <th>Партнер</th>

                        <th>Договор ПО</th>

                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var contract in Model.Contracts)
                    {
                        <tr>
                            <td class="glow"><span>@contract.ContractNumber</span></td>
                            <td class="text-center">@contract.ConclusionDate.ToShortDateString()</td>
                            <td class="text-center">@contract.LeaseStartDate.ToShortDateString()</td>
                            <td class="text-center">@contract.LeaseEndDate.ToShortDateString()</td>
                            <td class="text-center">@((contract.LeaseEndDate - contract.LeaseStartDate).TotalDays)</td>
                            <td class="text-center"><span class="badge badge-success">Оплачено</span></td>

                            <td>
                                <a asp-action="MailContractDetails" asp-route-id="@contract.Lessee.Id" aria-disabled="true" role="button" class="mailContract bs-tooltip"
                                   data-toggle="tooltip" data-html="true" 
                                   title="<div>Email: @contract.Lessee.Email</div><div>Phone: @contract.Lessee.Phone</div>">
                                    <i data-feather="user"></i>
                                    @contract.Lessee.Name
                                </a>
                            </td>

                            <td>
                                @if (contract.PartnerId != null)
                                {
                                    <a asp-controller="Partners" asp-action="PartnerDetails" asp-route-partnerId="@contract.Partner.Id" aria-disabled="true" role="button" class="mailContract">
                                        <i data-feather="aperture"></i>
                                        @contract.Partner.Name
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="Partners" asp-action="PartnerDetails" asp-route-partnerId="@contract.Partner.Id" role="button" class="text-dark mailContract">
                                        <i data-feather="aperture"></i>
                                        Партнер отсутствует
                                    </a>
                                }
                            </td>

                            <td>
                                @if (contract.MailContract != null)
                                {
                                    <a asp-action="MailContractDetails" asp-route-id="@contract.MailContract.Id" aria-disabled="true" role="button" class="mailContract">
                                        <i data-feather="mail"></i>
                                        @contract.MailContract.MailContractNumber
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="MailContractDetails" asp-route-mailContract="@null" role="button" class="text-dark mailContract">
                                        <i data-feather="mail"></i>
                                        Отсутствует ПО
                                    </a>
                                }
                            </td>

                            <td class="text-center">
                                <div class="dropdown custom-dropdown-icon">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                    </a>
                                    
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink-4" style="will-change: transform;">
                                        <a class="dropdown-item" asp-controller="Mail" asp-action="Index"><i data-feather="send"></i>Отправить письмо</a>
                                        <form method="get" asp-action="Create">
                                            <input name="id" type="hidden" value="@contract.Id">
                                            <button type="submit" class="button-link dropdown-item">
                                                <i data-feather="edit-2"></i>Редактировать
                                            </button>
                                        </form>
                                        
                                        <form method="post" asp-action="Delete" asp-route-id="@contract.Id">
                                            <button type="submit" class="button-link dropdown-item">
                                                <i data-feather="trash-2"></i>В корзину
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                    @* <tfoot> *@
                    @* <tr><th class="text-center" rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search #"></th><th class="text-center" rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search #"></th><th class="text-center" rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search #"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Name"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Position"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Office"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Age"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Start date"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Salary"></th><th class="invisible" rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search "></th></tr> *@
                    @* </tfoot> *@
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="dataTables_info" id="html5-extension_info" role="status" aria-live="polite">
                    Showing page @Model.PageViewModel.CurrentPage of @Model.PageViewModel.TotalPages
                </div>
            </div>
        
            <div class="col-md-7">
                <page-link page-model="Model.PageViewModel" page-action="Index"/>
                @* <div class="pagination-custom_outline"> *@
                @*     <a href="javascript:void(0);" class="prev"> *@
                @*         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg> *@
                @*     </a> *@
                @*     <ul class="pagination"> *@
                @*         <li><a href="javascript:void(0);">1</a></li> *@
                @*         <li class="active"><a href="javascript:void(0);">2</a></li> *@
                @*         <li><a href="javascript:void(0);">3</a></li> *@
                @*     </ul> *@
                @*     <a href="javascript:void(0);" class="next"> *@
                @*         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> *@
                @*     </a> *@
                @* </div> *@
            </div>
        </div>
    </div>
</div>
