@model ForbExpress.Models.ViewModels.ContractsViewModels.ContractsViewModel

@{
    Layout = "_Layout";
    ViewData["PageTitle"] = "Договоры";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
    <link href="~/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/plugins/font-icons/fontawesome/css/fontawesome.css">
    <link href="~/plugins/tagInput/tags-input.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/elements/custom-pagination.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/plugins/bootstrap-select/bootstrap-select.min.css">
    <link href="~/assets/css/elements/avatar.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components/tabs-accordian/custom-accordions.css" rel="stylesheet" type="text/css">
    <link href="~/plugins/tagInput/tags-input.css" rel="stylesheet" type="text/css">
    <style>
        .glow span
        {
            transition: all .5s;
        }
        
        .glow span:hover
        {
            text-shadow: 0 0 15px #06f9fb;
            /*0 0 80px #06f9fb,*/
            /*0 0 180px #06f9fb;*/
            color: #009688;
        }
        
        #html5-extension_info
        {
            white-space: normal;
            color: #009688;
            font-weight: 600;
            border: 1px solid #191e3a;
            display: inline-block;
            padding: 10px 16px;
            border-radius: 6px;
            font-size: 13px;
        }
        
        tr.hide-table-padding td {
            padding: 0;
        }
        
        ::-webkit-scrollbar{
            width: 14px;
        }
        
        ::-webkit-scrollbar-track{
            background: #506690;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) inset;
        }
        
        ::-webkit-scrollbar-thumb{
            border-radius:8px;
            background: #c2d5ff;
            border: 3px solid #506690;
        }
        
        ::-webkit-scrollbar-thumb:hover{
            background: #273546;
        }
         
    </style>
}


@section Scripts
{
    <script src="~/plugins/table/datatable/datatables.js"></script>
    <script src="~/plugins/font-icons/feather/feather.min.js"></script>
    <script src="~/plugins/tagInput/tags-input.js"></script>
    <script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/assets/js/components/ui-accordions.js"></script>
    <script src="~/plugins/tagInput/tags-input.js"></script>


    <script type="text/javascript">
        feather.replace();
    </script>
    
    <script type="text/javascript">
     
            $(function () {
                $.ajaxSetup({ cache: false });
               $(".mailContract").click(function (e) {
     
                    e.preventDefault();
                    $.get(this.href, function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
                });
            })
    </script>
    
    

    @*<script src="~/three.min.js" integrity="sha512-Q+IG0h7As6sfqE2t1Xf5IeamNyCXb4EXxGCA9Mlbpv7xtwurVHNdVDbyWeSQ3ulPf2FRlqeu77Ec3SJDdIR63w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>*@
    @* <script> *@
    @*     scene = new THREE.Scene(); *@
    @*     camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000); *@
    @*     camera.position = 10; *@
    @*      *@
    @*     renderer = new THREE.WebGLRenderer({alpha: true, antialias: true}); *@
    @*     renderer.setClearColor(0x000000, 0); *@
    @*     renderer.setSize(1280, 720); *@
    @*      *@
    @*     renderer.domElement.setAttribute("id", "Model"); *@
    @*     document.body.insertBefore(renderer.domElement, document.body.firstChild); *@
    @*      *@
    @*     const aLight = new THREE.AmbientLight(0x404040, 1.2); *@
    @*     scene.add(aLight); *@
    @*      *@
    @*     const pLight = new THREE.PointLight(0xFFFFFF, 1.2); *@
    @*     pLight.position.set(0, -3, 7); *@
    @*     scene.add(pLight); *@
    @*      *@
    @*     let loader = new THREE.GLTFLoader(); *@
    @*     let obj = null; *@
    @*      *@
    @*      *@
    @*     loader.load('C:\\Users\\Masterofsea147\\Desktop\\ForbExpress\\wwwroot\\scene.gltf', function (gltf){ *@
    @*        obj = gltf; *@
    @*        obj.scene.scale.set(1.3, 1.3, 1.3); *@
    @*         *@
    @*        scene.add(obj.scene); *@
    @*     }); *@
    @*      *@
    @*     function animate() { *@
    @*         requestAnimationFrame(animate); *@
    @*          *@
    @*         if (obj) *@
    @*             obj.scene.rotation.y += 0.03;           *@
    @*          *@
    @*         renderer.render(scene, camera); *@
    @*     } *@
    @*      *@
    @*     animate(); *@
    @* </script> *@

    @* <script type="text/javascript"> *@
    @*     feather.replace(); *@
    @* </script> *@
}

<div class="row">
            <div class="col-md-12 col-sm-12 mb-4">
                <div id="iconsAccordion" class="accordion-icons">
                    <div class="card">
                        <div class="card-header" id="...">
                            <section class="mb-0 mt-0">
                                <div role="menu" class="collapsed" data-toggle="collapse" data-target="#iconAccordionOne" aria-expanded="true" aria-controls="iconAccordionOne">
                                    <div class="accordion-icon"><i data-feather="filter"></i></div>Filters<div class="icons"></div>
                                    <span class="badge outline-badge-primary"> Primary </span>
                                </div>
                            </section>
                        </div>
                        <div id="iconAccordionOne" class="collapse" aria-labelledby="..." data-parent="#iconsAccordion">
                            <div class="card-body">
                                <form asp-action="Filtrate" asp-route-filter="@Model" method="post">
                                    @* <div class="form-group"> *@
                                    @*     <label asp-for="@Model.ContractsFilterBindingModel.Inn"></label> *@
                                    @*     <input asp-for="@Model.ContractsFilterBindingModel.Inn" class="form-control form-control-sm" placeholder="ИНН арендатора" onkeypress="if(this.value.length&gt;12) return false;"> *@
                                    @* </div> *@
                                    @* <div class="form-group"> *@
                                    @*     <label asp-for="@Model.ContractsFilterBindingModel.PartnerId"></label> *@
                                    @*     <input asp-for="@Model.ContractsFilterBindingModel.PartnerId" class="form-control form-control-sm" placeholder="Id партнера" onkeypress="if(this.value.length&gt;12) return false;"> *@
                                    @* </div> *@
                                    @* <div class="form-group"> *@
                                    @*     <label asp-for="@Model.ContractsFilterBindingModel.ContractNumber"></label> *@
                                    @*     <input asp-for="@Model.ContractsFilterBindingModel.ContractNumber" class="form-control form-control-sm" placeholder="Номер договора"> *@
                                    @* </div> *@
                                    @* <div class="form-group"> *@
                                    @*     <label asp-for="@Model.ContractsFilterBindingModel.PostalServiceContractNumber"></label> *@
                                    @*     <input asp-for="@Model.ContractsFilterBindingModel.PostalServiceContractNumber" class="form-control form-control-sm" placeholder="Номер договора почтового обслуживания"> *@
                                    @* </div> *@
                                    @* <div class="form-group"> *@
                                    @*     <label asp-for="@Model.ContractsFilterBindingModel.Address"></label> *@
                                    @*     <input id="address" asp-for="@Model.ContractsFilterBindingModel.Address" class="form-control form-control-sm" placeholder="Адрес"> *@
                                    @* </div> *@
                                    @* <div class="form-group"> *@
                                    @*     <label asp-for="@Model.ContractsFilterBindingModel.Ifts"></label> *@
                                    @*     <select class="form-control" asp-for="@Model.ContractsFilterBindingModel.Ifts" asp-items="@ViewBag.SelectItems"> *@
                                    @*     </select> *@
                                    @* </div> *@
                                    @* <div class="form-group"> *@
                                    @*     <label asp-for="@Model.ContractsFilterBindingModel.ConclusionDate"></label> *@
                                    @*     <input asp-for="@Model.ContractsFilterBindingModel.ConclusionDate" class="result form-control" id="date" placeholder="Date Picker..."> *@
                                    @* </div> *@
                                    @* <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button> *@
                                    @* <button type="submit" class="btn btn-primary">Save</button> *@
                                    <h3>Арендатор</h3>
                                    
                                        <div class="form-row">
                                            <div class="form-group col-md-7">
                                                <label asp-for="@Model.ContractsFilterBindingModel.Address"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i data-feather="user"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="@Model.ContractsFilterBindingModel.Address" class="form-control border-left-0" placeholder="Полное название">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label asp-for="@Model.ContractsFilterBindingModel.Address"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i data-feather="activity"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="@Model.ContractsFilterBindingModel.Address" class="form-control border-left-0" placeholder="Короткое название">
                                                </div>
                                            </div>
                                    
                                        </div>
                                    
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label asp-for="@Model.ContractsFilterBindingModel.Address"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i data-feather="activity"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="@Model.ContractsFilterBindingModel.Address" class="form-control border-left-0" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="@Model.ContractsFilterBindingModel.Address"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i data-feather="activity"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="@Model.ContractsFilterBindingModel.Address" class="form-control border-left-0" placeholder="Телефон">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="@Model.ContractsFilterBindingModel.Address"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i data-feather="activity"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="@Model.ContractsFilterBindingModel.Address" class="form-control border-left-0" placeholder="Дополнительные контакты">
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label asp-for="@Model.ContractsFilterBindingModel.Address"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i data-feather="activity"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="@Model.ContractsFilterBindingModel.Address" class="form-control border-left-0" placeholder="Контактное лицо">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label asp-for="@Model.ContractsFilterBindingModel.Address"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i data-feather="activity"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="@Model.ContractsFilterBindingModel.Address" class="form-control border-left-0" placeholder="Должность контактного лица">
                                                </div>
                                            </div>
                                    
                                        </div>
                                        <hr/>
                                        <h4>Реквизиты арендатора</h4>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label asp-for="@Model.ContractsFilterBindingModel.Address"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i data-feather="activity"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="@Model.ContractsFilterBindingModel.Address" class="form-control border-left-0" placeholder="Банк">
                                                </div>
                                            </div>
                                    
                                            <div class="form-group col-md-4">
                                                <label asp-for="@Model.ContractsFilterBindingModel.Address"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i data-feather="activity"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="@Model.ContractsFilterBindingModel.Address" class="form-control border-left-0" placeholder="ИНН">
                                                </div>
                                            </div>
                                    
                                    
                                            <div class="form-group col-md-4">
                                                <label asp-for="@Model.ContractsFilterBindingModel.Address"></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i data-feather="activity"></i>
                                                        </span>
                                                    </div>
                                                    <input asp-for="@Model.ContractsFilterBindingModel.Address" class="form-control border-left-0" placeholder="БИК">
                                                </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
<div class="statbox widget box box-shadow">
    <div class="widget-content widget-content-area">
        <div class="row">
            <div class="col-md-2 col-sm-12 mb-4">
                <label>Сортировать по:</label>
                <select class="selectpicker">
                    <option>Номеру договора</option>
                    <option>Дате заключения</option>
                    <option>Названию партнера</option>
                    <option>Названию арендатора</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <label>Выводить на странице по:</label>
                <select class="selectpicker">
                    <option class="text-align">10</option>
                    <option>15</option>
                    <option>30</option>
                    <option>50</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <img src="~\assets\img\90x90.jpg" alt=""/>
            </div>
        </div>
        <div class="row">
            <div id="modDialog" class="modal fade" >
                <div id="dialogContent" class="modal-dialog  modal-dialog-centered modal-lg"></div>
            </div>
                
            <div class="table-responsive">
                <table class="table table-bordered table-hover mb-4">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <th class="text-center">Дата заключения</th>
                        <th class="text-center">Дата начала</th>
                        <th class="text-center">Дата окончания</th>
                        <th class="text-center">Срок</th>
                        <th class="text-center">Оплачено</th>
                            
                        <th>Арендатор</th>

                        <th>Партнер</th>

                        <th>Договор ПО</th>

                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var contract in Model.Contracts)
                    {
                        <tr>
                            <td class="glow"><span>@contract.ContractNumber</span></td>
                            <td class="text-center">@contract.ConclusionDate.ToShortDateString()</td>
                            <td class="text-center">@contract.LeaseStartDate.ToShortDateString()</td>
                            <td class="text-center">@contract.LeaseEndDate.ToShortDateString()</td>
                            <td class="text-center">@((contract.LeaseEndDate - contract.LeaseStartDate).TotalDays)</td>
                            <td class="text-center"><span class="badge badge-success">Оплачено</span></td>

                            <td>@contract.Lessee.Name</td>

                            <td>@contract.Partner.Name</td>

                            <td>
                                @if (contract.MailContract != null)
                                {
                                    <a asp-action="MailContractDetails" asp-route-id="@contract.MailContract.Id" aria-disabled="true" role="button" class="mailContract">
                                        <i data-feather="mail"></i>
                                        @contract.MailContract.Id
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="MailContractDetails" asp-route-mailContract="@null" role="button" class="text-dark mailContract">
                                        <i data-feather="mail"></i>
                                        Отсутствует ПО
                                    </a>
                                }
                            </td>

                            <td class="text-center">
                                <div class="dropdown custom-dropdown">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1" style="will-change: transform;">
                                        <a class="dropdown-item" href="#">Написать сообщение</a>
                                        <a class="dropdown-item" href="#">Редактировать</a>
                                        <a class="dropdown-item" href="#">Удалить</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                    @* <tfoot> *@
                    @* <tr><th class="text-center" rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search #"></th><th class="text-center" rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search #"></th><th class="text-center" rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search #"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Name"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Position"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Office"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Age"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Start date"></th><th rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search Salary"></th><th class="invisible" rowspan="1" colspan="1"><input type="text" class="form-control" placeholder="Search "></th></tr> *@
                    @* </tfoot> *@
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="dataTables_info" id="html5-extension_info" role="status" aria-live="polite">Showing page 1 of 4</div>
            </div>
        
            <div class="col-md-7">
                <div class="pagination-custom_outline">
                    <a href="javascript:void(0);" class="prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                    </a>
                    <ul class="pagination">
                        <li><a href="javascript:void(0);">1</a></li>
                        <li class="active"><a href="javascript:void(0);">2</a></li>
                        <li><a href="javascript:void(0);">3</a></li>
                    </ul>
                    <a href="javascript:void(0);" class="next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
